<section class="container-fluid my-2 my-md-5">
    <div class="row">
        <div class="col-md-6">
            {{ partial "location_gmap.html" . }}
        </div>
        <div class="col-md-6 card text-center">
            <h2 class="card-header"> Contact Us</h2>
            <address class="card-body">
                <h3 class="card-title">Annaamalai Ortho and Spine Center</h3>
                <p class="card-text">Ground Floor - No 15-A</p>
                <p class="card-text">Kottivakkam&nbsp;Kuppam&nbsp;Road</p>
                <p class="card-text">Thiruvanmiyur, Chennai</p>
                <p class="card-text">600041</p>
            </address>
            <div class="card-footer">
                {{ partial "contact-buttons.html" . }}
            </div>
        </div>
    </div>
</section>