<!doctype html>
<html lang="en">

<head>
    <title>{{ .Title }}</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {{- partial "siteicon.html" . -}}

    <meta name="description" content="Website meta description for google search results go here" />

    {{- partial "dcmetatags.html" . -}}


    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed") }}
    {{ $style := resources.Get "sass/main.scss" | toCSS $options | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen">

</head>
