<section class="container-fluid bg-light py-2">
    <h2 class="visually-hidden mb-2 mb-md-5 text-center">Dr.&nbsp;Vignesh Pushparaj</h2>
    <div class="container">
        <div class="row align-items-center">
                <picture class="col-md-4">
                    <source srcset="assets\images\dr-vignesh-pushparaj-1.webp" type="image/webp">
                    <source srcset="assets\images\dr-vignesh-pushparaj-1.png" type="image/png">
                    <img src="assets\images\dr-vignesh-pushparaj-1.jpg" 
                    class="img-fluid img-thumbnail" 
                    alt="Dr Vignesh Pushparaj"
                    loading="lazy">
                </picture>    
                <div class="col-md-8">
                    <h3 class="mb-2">About Dr.&nbsp;Vignesh Pushparaj</h3>
                    <p class="mb-2">Dr.&nbsp;Vignesh&nbsp;Pushparaj began his journey in Orthopaedics in 2009 as a Junior Registrar of
                        Orthopaedics in Chennai. Since then his expertise in the field has increased multifold. His fields of interest and
                        expertise include:</p>
                    <ul class="">
                        <li class="">Orthopaedic and Spine oncology</li>
                        <li class="">Spine deformity correction (Scoliosis/ kyphosis correction in both geriatric and pediatric population)
                        </li>
                        <li class="">Arthritis management (regenerative medicine/ Stem cell therapy), and</li>
                        <li class="">Minimally invasive Spine Surgery.&nbsp;</li>
                    </ul>
                    <p class="mb-2">These fields have inspired him to develop core operative skills such as <bold>Primary spine tumour resection, metastatic spine management and all posterior tumor surgical management</bold> when it comes to Spine Oncology.</p>
                    
                    <p>He has successfully performed Complex Spinal procedures including</p>
                    <ul class="">
                        <li class="">Scoliosis correction,</li>
                        <li class="">CVJ procedures,</li>
                        <li class="">OccipitoCervical fusion,</li>
                        <li class="">C1-2 procedures,</li>
                        <li class="">Degenerative scoliosis,</li>
                        <li class="">Anterior lumbar procedures,</li>
                        <li class="">Vertebrectomy, and</li>
                        <li class="">Reconstruction of vertebral column&nbsp;surgeries.&nbsp;</li>
                    </ul>
                    <p>He comes highly recommended even for Minimally Invasive Spine Surgery such as</p>
                    <ul class="">
                        <li class="">TLIF and OLIF (fusion procedures),&nbsp;</li>
                        <li class="">decompression&nbsp;and&nbsp;foraminotomy,&nbsp;</li>
                        <li class="">percutaneous deformity correction, and</li>
                        <li class="">minimally invasive fixation for fracture spine.</li>
                    </ul>
                </div>
            </div>   
            <div class="card-group">
                <div class="card py-2" style="background-color: #f2ee6c;">
                    <div class="card-body bg-transparent border-0">
                        <h3 class="card-title">Publications</h3>
                        <p class="card-text">Dr.&nbsp;Vignesh&nbsp;Pushparaj's scholarly endeavours include contribution to the textbook
                            of Minimally Invasive Spine Surgery on Tubular Retractors in Thoracolumbar spine. He has also contributed to
                            the Spine Boot Camp Manual 2017 and Minimally Invasive Cervical Spine (NSI Manual 2018). He was and he is
                            frequently contributing in both national and international level orthopaedic academic forums.</p>
                    </div>
                </div>
                <div class="card py-2 " style="background-color: #90cb72;">
                    <div class="card-body bg-transparent border-0">
                        <h3 class="card-title ">Certifications</h3>
                        <p class="card-text">Dr. Vignesh Pushparaj completed his MBBS from Raja Muthiah Medical College (Annamalai
                            University) and then went on to pursue a specialisation in Orthopaedics at the same college. Following this
                            he completed Fellowships in Spine Surgery at reputed institutions in India, Netherlands and the USA. He has
                            completed fellowship in chronic pain management also.</p>
                    </div>
                </div>
            </div>
    </div>    
</section>
